<footer>
    <div class="footer-container">
        <section class="links">
            <div class="left">
                <a href="">About</a>
                <a href="">Professional Community Policy</a>
                <a href="">Privacy & Terms</a>
                <a href="">Sales Solutions</a>
                <a href="">Safety Center</a>
            </div>
            <div class="middle">
                <a href="">Accessibility</a>
                <a href="">Careers</a>
                <a href="">Ad Choices</a>
                <a href="">Mobile</a>
            </div>
            <div class="right">
                <a href="">Talent Solutions</a>
                <a href="">Marketing Solutions</a>
                <a href="">Advertising</a>
                <a href="">Small Business</a>
            </div>
        </section>
    
        <section class="manage">
            <div id="questions-and-help">
                <mat-icon>help</mat-icon>
                <div class="questions-and-visit">
                    <p id="questions">Questions?</p>
                    <p id="visit-help">Visit our Help Center.</p>
                </div>
            </div>
    
            <div id="manage-and-settings">
                <mat-icon>settings</mat-icon>
                <div class="manage-and-privacy">
                    <p id="manage">Manage your account and privacy</p>
                    <p id="go-to-settings">Go to your Settings.</p>
                </div>
            </div>
    
            <div id="recommendation-and-security">
                <mat-icon>security</mat-icon>
                <div class="reccomendation-transparency">
                    <p id="recommendation">Recommendation transparency</p>
                    <p id="learn-more">Learn more about Recommended Content.</p>
                </div>
            </div>
        </section>
    
        <section class="select-language">
            <p>Select language</p>
            <select name="" id="">
                <option selected value="">English (English)</option>
            </select>
        </section>
    </div>
    
    <p id="linkedin-corporation">LinkedIn Corporation © 2024</p>
</footer>
