footer{
    background-color: #F4F2EE;
    // background-color: red;
    width: 100vw;
    height: 185px;
    padding: 50px 0 24px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-container{
        width: 1128px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;

        .links{
            display: flex;
            flex-direction: row;
            // align-items: normal;
            gap: 10px;
            font-size: 12px;
            
    
            a{
                color: rgba(0, 0, 0, 0.4);
                text-decoration: none;
                font-weight: bold;
            }

            a:hover{
                color:#0A66C2;
                text-decoration: underline;
            }
    
            .left{
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 180px;
            }
    
            .middle{
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 180px;
            }
    
            .right{
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 180px;
            }
        }
    
        .manage{
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);

            #questions:hover, #manage:hover, #recommendation:hover{
                cursor: pointer;
                color:#0A66C2;
                text-decoration: underline;
            }
    
            p{
                margin: 0;
            }
    
            #questions-and-help{
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                .questions-and-visit{
                    #questions{
                        font-weight: bold;
                    }
    
                    #visit-help{
                        font-size: 12px;
                    }
                }
            }
    
            #manage-and-settings{
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                .manage-and-privacy{
                    #manage{
                        font-weight: bold;
                    }
    
                    #go-to-settings{
                        font-size: 12px;
                    }
                }
            }
    
            #recommendation-and-security{
                display: flex;
                flex-direction: row;
                gap: 10px;
    
                .reccomendation-transparency{
                    #recommendation{
                        font-weight: bold;
                    }
    
                    #learn-more{
                        font-size: 12px;
                    }
                }
            }
        }
    
        .select-language{
            p{
                font-size: 12px;
                margin: 0;
                color: rgba(0, 0, 0, 0.6);
            }
    
            select{
                border-radius: 5px;
                border: 1px solid black;
                width: 282px;
                height: 32px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    #linkedin-corporation{
        position: relative;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        top: 10px;
        left: -475px;
    }
}