.container{
    min-height: 100vh;
    width: 100vw;
    background-color: #F4F2EE;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;

    .left{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .profile-details{
            width: 255px;
            min-height: 330px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.1);

            #banner-image{
                height: 56px;
                width: 100%;
                border-radius: 10px 10px 0 0;
            }

            #profile-photo{
                height: 72px;
                width: 72px;
                border-radius: 50%;
                position: absolute;
                top: 25px;
                z-index: 2;
            }

            #first-and-last-name{
                margin-top: 50px;
                font-weight: bold;
            }

            #experience{
                color: gray;
                text-align: center;
                box-sizing: border-box;
                padding: 10px;
                font-size: 12px;
                width: 100%;
                min-height: 30px;
                overflow-wrap: break-word;
            }

            .connections-container{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 10px;
                width: 100%;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                span{
                    font-size: 12px;
                }

                .connections{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    #connections{
                        color: gray;
                        font-weight: 500;
                    }

                    #number-of-connections{
                        color: #0A66C2;
                    }
                }

                #grow-your-network{
                    font-weight: 500;
                }
            }

            .unlock-tools{
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                font-size: 12px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                #unlock-exclusive{
                    color: gray;
                }

                .try-premium{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;

                    .premium-icon{
                        height: 12px;
                        width: 12px;
                        background: linear-gradient(45deg, rgb(221, 148, 45) 50%, orange 50%);
                        border-radius: 2px;
                    }

                    #try-premium{
                        font-weight: 500;
                    }
                }

            }

            .saved-items{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                padding: 5px 10px 0 8px;
                font-size: 12px;
                font-weight: 500;
                height: 35px;

                mat-icon{
                    position: relative;
                    top: 3px;
                    // left: 3px;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }

        .discover-more{
            width: 255px;
            height: 150px;
            background-color: white;
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.1);
            
            .top{
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 90px;

                .events{
                   display: flex; 
                   flex-direction: row;
                   align-items: center;
                   justify-content: space-between;

                   mat-icon{
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 0.3s ease;
                    }
                
                    mat-icon:hover{
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
    
                span{
                    font-size: 12px;
                    color: #0A66C2;
                    font-weight: 500;
                }

                span:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            #discover-more{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: gray;
                font-weight: 500;
                height: 40px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 0 0 10px 10px;
                transition: background-color 0.2s ease;
            }

            #discover-more:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .middle{
        display: flex;
        flex-direction: column;
        gap: 5px;


        .start-a-post{
            width: 555px;
            height: 116px;
            background-color: white;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.1);

            box-sizing: border-box;
            padding: 10px;

            .img-and-post{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                
                #post{
                    width: 470px;
                    height: 48px;
                    background-color: transparent;
                    border-radius: 50px;
                    border: 1px solid rgba(0, 0, 0, 0.4);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    padding-left: 15px;
                    transition: background-color 0.2s ease;

                    span{
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.8);
                    }
                }

                #post:hover{
                    background-color: rgba(0, 0, 0, 0.05);
                    cursor: pointer;
                }
            }

            .media-event-write{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;

                .media, .event, .write{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    box-sizing: border-box;
                    padding: 2px;
                    border-radius: 5px;
                    margin-top: 4px;
                    min-width: 88px;
                    height: 48px;
                    transition: background-color 0.2s ease;

                    span{
                        padding-top: 3px;
                    }

                    #insert-photo-icon{
                        color: #0A66C2;
                    }

                    #event-icon{
                        color: orange;
                    }

                    #view-list-icon{
                        color: #e06847;
                    }
                }

                .media:hover, .event:hover, .write:hover{
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

        }

        .posts{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            .post{
                width: 555px;
                min-height: 200px;
                border-radius: 10px;
                box-sizing: border-box;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: white;
                position: relative;
                display: flex;
                flex-direction: column;

                .animated-reactions-container{
                    position: absolute;
                    height: 50px;
                    width: 300px;
                    top: 110px;
                    left: 20px;
                    border-radius: 30px;
                    background-color: white;
                    z-index: 2;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid rgba(0, 0, 0, 0.1);

                    .animated-reaction{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transition: transform 0.2s ease;

                        img{
                            border-radius: 50%;
                        }
                    }

                    .animated-reaction:hover{
                        cursor: pointer;
                        transform: scale(1.4);
                    }
                      
                    .animated-reaction img {
                      height: 42px;
                      width: 42px;
                    }
                }

                .animated-reactions-container.show {
                    display: flex;
                  }

                .top{
                    display: flex;
                    flex-direction: row;

                    .user-action{
                        display: flex;
                        flex-direction: row;
                    }

                    .buttons{
                        display: flex;
                        flex-direction: row;
                    }
                }

                .main{
                    .profile{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        

                        .post-details{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: space-between;
                            box-sizing: border-box;
                            padding: 10px 20px 0 20px;
                            border-radius: 10px 10px 0 0;
                            min-height: 80px;

                            .image-and-details{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;

                                .profile-details{
                                    display: flex;
                                    flex-direction: column;

                                    #first-and-last-name{
                                        font-weight: 500;
                                    }

                                    .time-posted{
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;

                                        mat-icon{
                                            font-size: 16px;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: center;
                                            color: gray;
                                        }
                                    }

                                    #job, #time-posted{
                                        font-size: 12px;
                                        color: gray;
                                    } 
                                }
                            }

                            .icons{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                            }
                        }

                        .content{
                            .post-description{
                                box-sizing: border-box;
                                padding: 0 20px 10px 20px;
                            }
                        }
                    }
                }

                .bottom{
                    min-height: 80px;
                    border-radius: 0px 0px 10px 10px;

                    .reactions{
                        height: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 5px;
                        box-sizing: border-box;
                        padding: 0px 20px 10px 20px;

                        .images-and-likes{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                            .icons{
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                #second-icon{
                                    position: relative;
                                    left: -5px;
                                }

                                #third-icon{
                                    position: relative;
                                    left: -10px;
                                }
                            }
                        }

                        .post-comments{
                            user-select: none;
                        }

                        .post-comments:hover{
                            cursor: pointer;
                            text-decoration: underline;
                            color: #0A66C2;
                        }

                        .post-likes{
                            padding-left: 5px;
                        }

                        .post-likes:hover{
                            text-decoration: underline;
                        }

                        .images-and-likes:hover{
                            cursor: pointer;

                            .post-likes{
                                color: #0A66C2;
                            }
                        }

                        span{
                            color: gray;
                        }
                    }

                    .actions{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        padding-top: 5px;
                        box-sizing: border-box;
                        padding: 5px 20px 2px 20px;

                        .like-icon, .comment-icon, .repost-icon, .send-icon{
                            user-select: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            padding: 10px;
                            border-radius: 10px;

                            span{
                                margin-top: 5px;
                            }
                        }

                        .send-icon{
                            mat-icon{
                                position: relative;
                                top: -4px;
                                left: 5px;
                                transform: rotate(-45deg);
                            }
                        }

                        .like-icon:hover, .comment-icon:hover, .repost-icon:hover, .send-icon:hover{
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }

                    .comments-container{
                        width: 100%;
                        min-height: 60px;
                        background-color: white;
                        border-radius: 0px 0px 10px 10px;
                        padding-top: 5px;
                        
                        .add-a-comment{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;

                            #commenter-image{
                                border-radius: 50%;
                            }

                            .comment-input{
                                position: relative;
                                width: 470px;
                                min-height: 40px;
                                border-radius: 50px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                border: 1.5px solid rgba(0, 0, 0, 0.2);

                                input{
                                    margin-left: 20px;
                                    width: 320px;
                                    border: none;
                                    min-height: 40px;
                                }

                                #smile-face{
                                    position: absolute;
                                    height: 50px;
                                    width: 50px;
                                    top: 5px;
                                    left: 360px;
                                }

                                .input-icons{
                                    display: flex;
                                    flex-direction: row;
                                    margin-right: 20px;
                                }
                            }
                        }

                        .comments{
                            display: flex;
                            flex-direction: row;
                            min-height: 80px;
                            box-sizing: border-box;
                            padding: 10px 20px 10px 20px;
                            justify-content: space-between;

                            .image-and-details{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;

                                .comment-details{
                                    display: flex;
                                    flex-direction: column;
                                    position: relative;

                                    .animated-comment-reactions-container{
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: space-evenly;
                                        height: 50px;
                                        width: 300px;
                                        border-radius: 30px;
                                        background-color: white;
                                        border: 1px solid rgba(0, 0, 0, 0.1);
                                        position: absolute;
                                        top: 25px;

                                        .animated-comment-reactions{
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;

                                            img{
                                                border-radius: 20px;
                                                transition: transform 0.3s ease;
                                            }

                                            img:hover{
                                                transform: scale(1.5);
                                                cursor: pointer;
                                            }
                                        }
                                    }

                                    #commenter-name{
                                        font-weight: 500;
                                    }

                                    #commenter-job{
                                        color: gray;
                                        font-size: 12px;
                                    }

                                    #commenter-content{
                                        margin-top: 10px;
                                    }

                                    .comment-reactions{
                                        height: 20px;
                                        width: 200px;
                                        padding-top: 10px;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;

                                        #like-comment{
                                            font-weight: 500;
                                            color: gray;
                                            font-size: 12px;
                                            padding-right: 5px;
                                            height: 20px;
                                            width: 35px;
                                            box-sizing: border-box;
                                            padding: 5px;
                                            border-radius: 5px;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: center;
                                        }

                                        #like-comment:hover{
                                            background-color: rgba(0, 0, 0, 0.05);
                                            cursor: pointer;
                                        }

                                        #second-reaction{
                                            position: relative;
                                            left: -5px;
                                        }

                                        #third-reaction{
                                            position: relative;
                                            left: -10px;
                                        }

                                        #number-of-reactions{
                                            padding-left: 5px;
                                        }
                                    }
                                }
                            }

                            .comment-right{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 10px;

                                span{
                                    color: gray;
                                    font-size: 12px;
                                }

                                mat-icon{
                                    color: gray;
                                }
                            }
                        }

                        .load-more-comments{
                            padding-left: 20px;
                            padding-bottom: 20px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            
                            .load-more-icon-container{
                                height: 30px;
                                width: 30px;
                                background-color: rgba(0, 0, 0, 0.1);
                                border-radius: 50%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                
                                #load-more-icon{
                                    transform: rotate(-45deg);
                                }
                            }

                            .load-more-icon-container:hover{
                                cursor: pointer;
                            }

                            span{
                                box-sizing: border-box;
                                border-radius: 10px;
                                padding: 5px;
                                font-size: 12px;
                                font-weight: 500;
                            }

                            span:hover{
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.05);
                            }
                        }
                    }
                }
            }
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .add-to-your-feed{
            width: 300px;
            min-height: 150px;
            background-color: white;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.1);

            .top{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 30px;
                padding-bottom: 10px;

                span{
                    font-weight: 500;
                }
            }

            .profiles{
                width: 100%;
                min-height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .profile{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding-bottom: 10px;

                    img{
                        border-radius: 50%;
                    }

                    .details{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 200px;

                        #follow-first-and-last-name{
                            font-weight: 500;
                        }

                        #job{
                            color: gray;
                        }

                        button{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            border-radius: 20px;
                            border: 1px solid black;
                            background-color: transparent;
                            width: 120px;
                        }

                        button:hover{
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }

                .view-all-recommendations{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 210px;
                    border-radius: 5px;
                    transition: background-color 0.2s ease, color 0.2s ease;


                    span{
                        font-weight: 500;
                        color: gray;
                    }
                }

                .view-all-recommendations:hover{
                    background-color: rgba(0, 0, 0, 0.1);

                    cursor: pointer;
                    span{
                        color: black;
                    }
                }
            }
        }

        .see-whos-hiring{
            height: 250px;
            width: 300px;
            background-color: white;
            border-radius: 10px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-image: url(../../../assets/images/adverts/see-whos-hiring.png);
        }
    }
}