<div class="dim-overlay" *ngIf="helperService.$dimBackground.value">
</div>

<div class="container">
    <router-outlet></router-outlet>
    <app-add-experience></app-add-experience>
    <app-edit-experience-window></app-edit-experience-window>
    <app-edit-education-window></app-edit-education-window>
    <app-edit-license-window></app-edit-license-window>
    <app-edit-language-window></app-edit-language-window>
    <app-add-education-window></app-add-education-window>
    <app-add-language-window></app-add-language-window>
    <app-add-skill-window></app-add-skill-window>
</div>
