<div class="container">
    <main>
        <div class="top">
            <div class="left">
                <span>Messaging</span>
                <div class="search-messages">
                    <mat-icon>search</mat-icon>
                    <input type="search" placeholder="Search messages">
                </div>
            </div>
            <div class="right">
                <mat-icon>more_horiz</mat-icon>
                <mat-icon>message</mat-icon>
            </div>
        </div>
    
        <div class="tabs">
            <div class="tab" *ngFor="let tab of tabs, let i = index"> 
                <button 
                    [ngStyle]="{
                        'background-color': tab.isSelected ? '#01754F' : 'transparent',
                        'color': tab.isSelected ? 'white' : 'gray',
                    }"> {{ tab.name }} </button>
                <div *ngIf="i == 0" class="line"></div>
            </div>
        </div>

        <div class="middle">
            <div class="left">
                <div class="profile" *ngFor="let connection of ($usersFromChat | async)" (click)="openChatWindow(connection)"
                        [ngStyle]="{
                            'background-color': connection.isSelected ? '#cde2f6' : 'transparent'
                        }">
                    <div class="details-and-message">
                        <img [src]="connection.chat.imageUrl" alt="" height="56px" width="56px">
                        <div class="name-and-message">
                            <span>{{ connection.chat.firstName }} {{ connection.chat.lastName }}</span>
                            <span class="last-message">{{ getLastMessage(connection) }}</span>
                        </div>
                    </div>
                    <span class="last-message-date-sent">{{ connection.timeOfLastMessage | date: 'MMM dd' }}</span>
                </div>
                
            </div>
        
            <div class="right">
                <div class="profile-description">
                    <div class="name-and-study">
                        <span id="profile-name">{{ chatWindow?.profile?.chat?.firstName }} {{ chatWindow?.profile?.chat?.lastName }}</span>
                        <span id="studied-at">{{ chatWindow?.profile?.chat?.job }}</span>
                    </div>
                    
                    <div class="profile-icons">
                        <mat-icon>more_horiz</mat-icon>
                        <mat-icon>video_call</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </div>
                </div>
        
                <div class="chat" #chatContent>
                    <div class="messages-container" *ngFor="let message of chatWindow.messages, let i = index">
                        <div class="message-header" *ngIf="i === 0 || chatWindow.messages[i-1].senderId !== message.senderId">
                            <img [src]="message.senderId == loggedInUser.id ? loggedInUser.imageUrl : chatWindow.profile.chat.imageUrl" alt="" height="40px" width="40px">
                            <span id="name">{{ message.senderId === loggedInUser.id ? loggedInUser.firstName : chatWindow.profile.chat.firstName }} {{ message.senderId === loggedInUser.id ? loggedInUser.lastName : chatWindow.profile.chat.lastName }}</span>
                            <span id="time-sent"> <strong>·</strong> {{ message.timeSent | date:'HH:mm' }}</span>
                        </div>
                        <div class="message">
                            {{ message.content }}
                        </div>
                    </div>
                </div>
        
                <div class="chatbox">
                    <textarea [(ngModel)]="messageInput" (keyup.enter)="sendMessage($event, chatWindow)" (ngModelChange)="isTextareaEmpty()" name="" id="" placeholder="Write a message..."></textarea>
                </div>
        
                <div class="bottom">
                    <div class="bottom-left">
                        <mat-icon>image</mat-icon>
                        <mat-icon>attach_file</mat-icon>
                        <mat-icon>gif</mat-icon>
                        <mat-icon id="smile-face">😊</mat-icon>
                    </div>
        
                    <div class="bottom-right">
                        <button id="send-button" (click)="sendMessage($event, chatWindow)"
                            [ngStyle]="{
                                'background-color': (isTextareaEmpty() || isChatWindowEmpty()) ? 'rgba(0, 0, 0, 0.2)' : '#0A66C2'
                            }"
                            [disabled]="(isTextareaEmpty() || isChatWindowEmpty())">Send
                        </button>
                        <mat-icon>more_horiz</mat-icon>
                    </div>
                </div>
            </div>
        </div>    
    </main>
    
    <aside>
        <div class="see-whos-hiring">

        </div>

        <div class="grow-your-network">
            <p id="grow-your-network">Grow Your Network with Premium</p>
            <p id="premium-inmail">Premium InMail is 4.6x more effective in hearing back than cold email.</p>
            <div class="people-who-use-premium">

            </div>
            <button>Try premium for HRK0</button>
            <p id="free-trial">1-month free trial. We'll send you a reminder 7 days before your trial ends.</p>
        </div>

        <div class="footer">
            <div class="top">
                <span>About</span>
                <span>Accessibility</span>
                <span>Help Center</span>
            </div>
            <div class="middle">
                <span>Privacy & Terms</span>
                <span>Ad Choices</span>
                <span>Advertising</span>
            </div>
            <div class="bottom">
                <span>Business Services</span>
                <span>Get the LinkedIn app</span>
            </div>
            <div class="more">
                <span>More</span>
            </div>
            <div class="copyright">
                <span id="linked-in">LinkedIn</span>
                <img src="../../../assets/images/logos/linked-in.png" alt="" height="16px" width="16px">
                <span>LinkedIn Corporation © 2024</span>
            </div>
        </div>
    </aside>
</div>