<div class="container">
    <div class="main-container">
        <router-outlet></router-outlet>
        
        <aside>
            <section class="edit-profile">
                <div class="profile-languages">
                    <div class="top-part">
                        <p id="profile-languages">Profile language</p>
                        <mat-icon>create</mat-icon>
                    </div>
                    <p id="english">English</p>
                </div>
                <div class="public-profile">
                    <div class="top-part">
                        <p id="public-profile">Public profile & URL</p>
                        <mat-icon>create</mat-icon>
                    </div>
                    <p id="www-linkedin">www.linkedin.com/in/{{ (userService.$loggedUser | async).userName }}</p>
                </div>
            </section>
    
            <section class="see-whos-hiring">
                
            </section>
    
            <section class="other-similar-profiles" *ngIf="otherSimilarProfiles && otherSimilarProfiles?.length > 0">
                <div class="profiles-wrapper">
                    <p id="other-similar-profiles">Other similar profiles</p>
                    <div class="profile" *ngFor="let profile of userService.$otherSimilarProfiles | async">
                        <img [src]="profile.imageUrl" [alt]="profile.firstName" height="48px" width="48px">
                        <div class="desc">
                            <div class="profile-name-and-relationship">
                                <a id="profile-name" href="">{{ profile.firstName }} {{ profile.lastName }}</a>
                                <span> · 1st</span>
                            </div>
                            <!-- <p id="profile-name">{{ profile.firstName }} {{ profile.lastName }}<span>· 1st</span></p> -->
                            <p id="profile-job">{{ profile.job }}</p>
                            <button (click)="openChatWindow(profile)"><mat-icon>send</mat-icon>Message</button>
                        </div>
                    </div>
                </div>
    
                <div class="show-all">
                    <p id="show-all">Show all</p>
                </div>
            </section>
    
            <section class="people-you-may-know" *ngIf="peopleYouMayKnow && peopleYouMayKnow?.length > 0">
                <div class="people-you-may-know-wrapper">
                    <p id="people-you-may-know">People you may know</p>
                    <div class="profiles-you-may-know" *ngFor="let profile of userService.$peopleYouMayKnow | async">
                        <img [src]="profile.imageUrl" [alt]="profile.firstName" height="48px" width="48px">
                        <div class="desc">
                            <div class="profile-name-and-relationship">
                                <a id="profile-name" href="">{{ profile.firstName }} {{ profile.lastName }}</a>
                                <span>· {{ buttonStates[profile.id] ? '2nd' : '3rd'}}</span>
                            </div>
                            <!-- <p id="profile-name">{{ profile.firstName }} {{ profile.lastName }}<span>· {{ buttonStates[profile.id] ? '2nd' : '3rd'}}</span></p> -->
                            <p id="profile-job">{{ profile.job }}</p>
                            <button (click)="sendConnection(profile.id)" 
                                [ngStyle]="{'border-color': buttonStates[profile.id] ? '#0A66C2' : 'rgba(0, 0, 0, 0.6)', 
                                            'color': buttonStates[profile.id] ? '#0A66C2' : 'rgba(0, 0, 0, 0.6)'}">
                                <mat-icon [ngStyle]="{'color': buttonStates[profile.id] ? '#0A66C2' : 'rgba(0, 0, 0, 0.6)'}">person_add</mat-icon>{{ buttonStates[profile.id] ? 'Pending' : 'Connect' }}
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="show-all">
                    <p id="show-all">Show all</p>
                </div>
            </section>
    
            <section class="you-might-like">
                <div class="you-might-like-wrapper">
                    <p id="you-might-like">You might like</p>
                    <p id="pages-for-you">Pages for you</p>
                    <div class="pages-you-might-like" *ngFor="let page of pageService.$twoPages | async">
                        <img [src]="page.imageUrl" [alt]="page.name" height="48px" width="48px">
                        <div class="desc">
                            <a id="profile-name" href="">{{ page.name }}</a>
                            <p id="profile-job">{{ page.description }}</p>
                            <p id="profile-followers">{{ page.numberOfFollowers }} followers</p>
                            <div class="people-following" *ngIf="page?.followers?.length > 3">
                                <img id="people-following-1" [src]="page?.followers[0]?.imageUrl" alt="avatar" height="24px" width="24px">
                                <img id="people-following-2" [src]="page?.followers[1]?.imageUrl" alt="avatar" height="24px" width="24px">
                                <img id="people-following-3" [src]="page?.followers[2]?.imageUrl" alt="avatar" height="24px" width="24px">
                                <p id="four-connections-follow">{{ page.followers.count }} connections follow this page</p>
                            </div>
                            <button (click)="followPage(page.name)"><mat-icon>add</mat-icon>Follow</button>
                        </div>
                    </div>
                </div>
    
                <div class="show-all">
                    <p>Show all</p>
                </div>
            </section>
    
            <section class="see-whos-hiring">
    
            </section>
        </aside>
    </div>

    <div class="error" *ngIf="helperService.$displayError.value">
        <span>
            {{ helperService.$errorMessage.value }}
        </span>
        <mat-icon (click)="closeError()">close</mat-icon>
    </div>
</div>
