<div class="container" *ngIf="helperService.$showEditSkillWindow.value">
    <main>
        <header>
            <p>Edit {{ profileService.$editSkillFormValues.value[0].name }}</p>
            <div class="close-container" (click)="closeWindow()">
                <mat-icon>close</mat-icon>
            </div>
        </header>
        <section>
            <form [formGroup]="skillForm">
                <div class="skills-used">
                    <h2>Tell us where you put this skill to use</h2>
                    <p>75% of hirers value skill context. Select at least one item to show where you used this skill.</p>

                    <div class="skill-categories">
                        <div class="experience" formArrayName="experiences">
                            <p>Experience</p>
                            <div class="check-and-experiences" *ngFor="let experience of userExperiences; let i = index">
                                <input type="checkbox" [formControlName]="i">
                                <p>{{ experience.position}} at {{ experience.company.name }}</p>
                            </div>
                        </div>
    
                        <div class="education" formArrayName="educations">
                            <p>Education</p>
                            <div class="check-and-education" *ngFor="let education of uniqueEducations; let i = index">
                                <input type="checkbox" [formControlName]="i">
                                <p>{{ education }}</p>
                            </div>
                        </div>
    
                        <div class="licenses-and-certifications" formArrayName="licenses">
                            <p>Licenses & certifications</p>
                            <div class="check-and-licenses" *ngFor="let license of licenses; let i = index">
                                <input type="checkbox" [formControlName]="i">
                                <p>{{ license.name }}</p>
                            </div>
                        </div>
    
                        <div class="follow-this-skill">
                            <input type="checkbox" formControlName="followSkill">
                            <p>Follow this skill to keep up with relevant content.</p>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <footer>
            <div class="delete-skill">
                <span (click)="deleteSkill()">Delete skill</span>
            </div>
            <button type="submit" (click)="submitForm()">Save</button>
        </footer>
    </main>
</div>

