<div class="container">
    <header>
        <div class="header-container">
            <div class="logo-and-search">
                <img id="linked-in-logo" src="../../../assets/images/logos/linked-in.png" alt="linked-in" width="36.17" height="36.17">
                <div class="search-container">
                    <mat-icon>search</mat-icon>
                    <input id="search-bar" type="text" placeholder="Search">
                </div>
            </div>
    
            <div class="icons-and-misc">
                <div class="icons">
                    <div class="icon" *ngFor="let icon of icons; let i = index" (click)="navigateTo(icon.name)">
                        <svg xmlns="http://www.w3.org/2000/svg" color="#00000099" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="icon" width="24" height="24" focusable="false">
                            <path [attr.d]="icon.shape"></path>
                        </svg>
                        <p class="icon-name">{{ icon.name }}</p>
                        <div class="red-dot" *ngIf="helperService.showRedDots[i]">
                            <div class="white-dot"></div>
                        </div>
                    </div>
                </div>
    
                <div class="avatar" (click)="navigateTo('Profile')">
                    <img id="avatar" src="../../../assets/images/avatars/avatar.png" alt="avatar" height="24px" width="24px">
                    <p style="color: #00000099;">Me</p>
                </div>
    
                <div class="vertical-line">
    
                </div>
    
                <div class="business-and-premium">
                    <div class="for-business">
                        <svg xmlns="http://www.w3.org/2000/svg" color="#00000099" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M3 3h4v4H3zm7 4h4V3h-4zm7-4v4h4V3zM3 14h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4zM3 21h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4z"></path>
                        </svg>
                        <p style="color: #00000099;">For Business</p>
                    </div>
                    
                    <p class="try-premium">
                        <u>Try premium 1</u>
                        <br>
                        <u>month free</u>
                    </p>
                </div>            
            </div>
        </div>
    </header>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
    
    <footer>
        <div class="footer-container">
            <section class="links">
                <div class="left">
                    <a href="">About</a>
                    <a href="">Professional Community Policy</a>
                    <a href="">Privacy & Terms</a>
                    <a href="">Sales Solutions</a>
                    <a href="">Safety Center</a>
                </div>
                <div class="middle">
                    <a href="">Accessibility</a>
                    <a href="">Careers</a>
                    <a href="">Ad Choices</a>
                    <a href="">Mobile</a>
                </div>
                <div class="right">
                    <a href="">Talent Solutions</a>
                    <a href="">Marketing Solutions</a>
                    <a href="">Advertising</a>
                    <a href="">Small Business</a>
                </div>
            </section>
        
            <section class="manage">
                <div id="questions-and-help">
                    <mat-icon>help</mat-icon>
                    <div class="questions-and-visit">
                        <p id="questions">Questions?</p>
                        <p id="visit-help">Visit our Help Center.</p>
                    </div>
                </div>
        
                <div id="manage-and-settings">
                    <mat-icon>settings</mat-icon>
                    <div class="manage-and-privacy">
                        <p id="manage">Manage your account and privacy</p>
                        <p id="go-to-settings">Go to your Settings.</p>
                    </div>
                </div>
        
                <div id="recommendation-and-security">
                    <mat-icon>security</mat-icon>
                    <div class="reccomendation-transparency">
                        <p id="recommendation">Recommendation transparency</p>
                        <p id="learn-more">Learn more about Recommended Content.</p>
                    </div>
                </div>
            </section>
        
            <section class="select-language">
                <p>Select language</p>
                <select name="" id="">
                    <option selected value="">English (English)</option>
                </select>
            </section>
        </div>
        
        <p id="linkedin-corporation">LinkedIn Corporation © 2024</p>
    </footer>

    <section (click)="toggleChatBox()" class="messaging" [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'">
        <div class="img-and-messaging">
            <img [src]="(userService.$loggedUser | async).imageUrl" alt="" height="30px" width="30px">
            <span>Messaging</span>
        </div>
        <div class="icons">
            <div class="more-horiz-container">
                <mat-icon>more_horiz</mat-icon>
            </div>
            <div class="create-container">
                <mat-icon id="create">create</mat-icon>
            </div>
            <div class="toggle-chat-container" (click)="toggleChatBox(); $event.stopPropagation()">
                <mat-icon>
                    {{ isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                </mat-icon>
            </div>
        </div>
    </section>

    <section class="chat-content" [@expandCollapseContent]="isExpanded ? 'expanded' : 'collapsed'">
        <div class="friends" *ngFor="let connection of ($usersFromChat | async)" (click)="openChatWindow(connection.chat)">
            <div class="friend">
                <div class="img-and-desc">
                    <img id="image" [src]="connection.chat.imageUrl" alt="" height="50px" width="50px">
                    <div class="name-and-last-message">
                        <span id="name">{{ connection.chat.firstName }} {{ connection.chat.lastName }}</span>
                        <span id="last-message">{{ getLastMessage(connection.chat) }}</span>
                    </div>
                </div>
                <div class="last-message-sent">{{ getLastMessageTimeSent(connection.chat) }}</div>
            </div>
        </div>
    </section>

    <section *ngFor="let chatWindow of chatWindows; let i = index" class="chat-window" 
            [@expandShrinkWindow]="isShrinked ? 'shrinked' : 'expanded'" 
            [@minimizeRestoreWindow]="{ value: chatWindow.minimized ? 'minimized' : 'restored', params: getAnimationParams() }"
            [ngStyle]="{'right': (350 + i * 510) + 'px'}">
        <div class="top" (click)="toggleMinimizeRestoreWindow(chatWindow)">
            <div class="img-and-name">
                <img [src]="chatWindow.profile?.imageUrl" alt="" height="30px" width="30px">
                <span>{{ chatWindow.profile.firstName }} {{ chatWindow.profile.lastName }}</span>
            </div>

            <div class="icons">
                <mat-icon *ngIf="!chatWindow.minimized" id="more-container">more_horiz</mat-icon>
                <mat-icon *ngIf="!chatWindow.minimized" id="video-call-container">video_call</mat-icon>
                <mat-icon *ngIf="!chatWindow.minimized" id="unfold-container" (click)="toggleWindowShrink(); $event.stopPropagation()">{{ isShrinked ? 'unfold_more' : 'unfold_less' }}</mat-icon>
                <mat-icon id="close-chat-container" (click)="closeChatWindow(chatWindow); $event.stopPropagation()">close</mat-icon>
            </div>
        </div>

        <main class="chat" #chatContent>
            <div class="chat-description">
                <img [src]="chatWindow.profile.imageUrl" alt="" height="72px" width="72px">
                <span id="name">{{ chatWindow.profile.firstName }} {{ chatWindow.profile.lastName }}</span>
                <span>{{ chatWindow.profile.job }}</span>
            </div>
            <div class="messages-container">
                <div class="messages" *ngFor="let message of chatWindow.messages; let i = index">
                    <div class="date-separator" *ngIf="i === 0 || isNewDay(chatWindow.messages[i].timeSent, chatWindow.messages[i-1].timeSent)">
                        <hr>
                        <span class="date-label">{{ message.timeSent | date: 'MMM dd' }}</span>
                        <hr>
                    </div>                
                    <div class="message-header" *ngIf="i === 0 || chatWindow.messages[i-1].senderId !== message.senderId">
                        <img [src]="chatWindow.messages[i].senderId == loggedInUser.id ? loggedInUser.imageUrl : chatWindow.profile.imageUrl" alt="" height="30px" width="30px">
                        <span id="name">{{ message.senderId === loggedInUser.id ? loggedInUser.firstName : chatWindow.profile.firstName }} {{ message.senderId === loggedInUser.id ? loggedInUser.lastName : chatWindow.profile.lastName }}</span>
                        <span id="time-sent"> <strong>·</strong> {{ message.timeSent | date:'HH:mm' }}</span>
                    </div>
                    <div class="message-content">
                        {{ message.content }}
                    </div>
                </div>
            </div>
        </main>

        <section class="chatbox">
            <textarea (keyup.enter)="sendMessage($event, chatWindow)" [(ngModel)]="messagesInput[chatWindow.profile.id]" name="" id="" placeholder="Write a message..."></textarea>
        </section>

        <div class="bottom">

        </div>
    </section>
</div>


