.container{
    position: relative;

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 53px;
    
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 5;
    
        .header-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
    
            height: 100%;
            width: 1100px;
    
            .logo-and-search{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
    
                .search-container{
                    border: 0;
                    background-color: #EDF3F8;
                    border-radius: 5px;
                    margin-left: 10px;
    
                    mat-icon{
                        position: relative;
                        top: 7px;
                        left: 10px;
                        font-size: 21px;
                    }
                        
                    input{
                        border: 0;
                        background-color: #EDF3F8;
                        height: 34.17px;
                        border-radius: 5px;
                        margin-left: 10px;
                        width: 250px;
                    }
                }
            }
    
            .icons-and-misc{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
    
                .icons{
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    box-sizing: border-box;
                    padding-top: 5px;
    
                    .icon{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80px;
                        position: relative;

                        .red-dot{
                            position: absolute;
                            z-index: 10;
                            height: 16px;
                            width: 16px;
                            right: 20px;
                            border-radius: 50%;
                            background-color: red;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            
                            .white-dot{
                                height: 6px;
                                width: 6px;
                                border-radius: 50%;
                                background-color: white;
                            }
                        }
    
                        p{
                            margin: 0;
                            font-size: 12px;
                            color: rgb(0, 0, 0, 0.6);
                        }
                    }
    
                    .icon:hover{
                        cursor: pointer;
    
                        svg, p{
                            color: black;
                        }
                    }
                }
    
                .avatar{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
    
                    #avatar{
                        border-radius: 50%;
                    }

                    #me-and-arrow{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
    
                    p{
                        margin: 0;
                    }
                }

                .avatar:hover{
                    cursor: pointer;
                }
    
                .vertical-line{
                    height: 100%;
                    width: 1px;
                    background-color: rgb(0, 0, 0, 0.1)
                }
    
                .business-and-premium{
                    display: flex;
                    flex-direction: row;
    
                    .for-business{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
    
                        p{
                            font-size: 12px;
                        }
                    }
    
                    .try-premium{
                        width: 100px;
                        font-size: 12px;
                        color: #915907;
                    }
                }
    
                p{
                    text-align: center;
                    margin: 0;
                }
            }
        }    
    }

    .main-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // justify-content: start;
        gap: 20px;
        margin-top: 50px;
        position: relative;

        .details-window{
            position: fixed;
            height: 460px;
            width: 250px;
            top: 60px;
            right: 913px;
            border-radius: 10px 0 10px 10px;
            display: flex;
            flex-direction: column;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1);

            .top{
                width: 100%;
                height: 150px;
                box-sizing: border-box;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                .img-and-name{
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    height: 100px;
                    gap: 10px;

                    .name-and-job{
                        display: flex;
                        flex-direction: column;
                        max-width: 60%;
                        height: 100%;

                        #first-and-last-name{
                            font-weight: 500;
                        }

                        #job{
                            height: 78px;
                            word-wrap: break-word;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }

                button{
                    height: 25px;
                    font-weight: bold;
                    width: 100%;
                    border-radius: 20px;
                    border: 1px solid #0A66C2;
                    background-color: transparent;
                    color: #0A66C2;
                    transition: background-color 0.2s ease;
                }

                button:hover{
                    cursor: pointer;
                    background-color: #daecfe;
                    border: 2px solid #0A66C2;
                }
            }

            .top:hover{
                cursor: pointer;
            }

            .middle{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                box-sizing: border-box;
                padding: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 150px;
                user-select: none;

                #middle-account{
                    font-weight: 500;
                }

                span:not(#middle-account){
                    color: gray;
                }

                span:hover:not(#middle-account){
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .bottom{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 10px;
                justify-content: space-evenly;
                width: 100%;
                height: 120px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                user-select: none;

                #bottom-manage{
                    font-weight: 500;
                }

                span:not(#bottom-manage){
                    color: gray;
                }

                span:hover:not(#bottom-manage){
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .sign-out{
                box-sizing: border-box;
                padding: 10px;
                width: 100%;
                height: 40px;
                user-select: none;

                span{
                    color: gray;
                }

                span:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
    
    footer{
        background-color: #F4F2EE;
        width: 100vw;
        height: 185px;
        padding: 50px 0 24px 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .footer-container{
            width: 1128px;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
    
            .links{
                display: flex;
                flex-direction: row;
                // align-items: normal;
                gap: 10px;
                font-size: 12px;
                
        
                a{
                    color: rgba(0, 0, 0, 0.4);
                    text-decoration: none;
                    font-weight: bold;
                }
    
                a:hover{
                    color:#0A66C2;
                    text-decoration: underline;
                }
        
                .left{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 180px;
                }
        
                .middle{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 180px;
                }
        
                .right{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 180px;
                }
            }
        
            .manage{
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.6);
    
                #questions:hover, #manage:hover, #recommendation:hover{
                    cursor: pointer;
                    color:#0A66C2;
                    text-decoration: underline;
                }
        
                p{
                    margin: 0;
                }
        
                #questions-and-help{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
        
                    .questions-and-visit{
                        #questions{
                            font-weight: bold;
                        }
        
                        #visit-help{
                            font-size: 12px;
                        }
                    }
                }
        
                #manage-and-settings{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
        
                    .manage-and-privacy{
                        #manage{
                            font-weight: bold;
                        }
        
                        #go-to-settings{
                            font-size: 12px;
                        }
                    }
                }
        
                #recommendation-and-security{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
        
                    .reccomendation-transparency{
                        #recommendation{
                            font-weight: bold;
                        }
        
                        #learn-more{
                            font-size: 12px;
                        }
                    }
                }
            }
        
            .select-language{
                p{
                    font-size: 12px;
                    margin: 0;
                    color: rgba(0, 0, 0, 0.6);
                }
        
                select{
                    border-radius: 5px;
                    border: 1px solid black;
                    width: 282px;
                    height: 32px;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    
        #linkedin-corporation{
            position: relative;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            top: 10px;
            left: -475px;
        }
    }

    .messaging{
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5px;
        bottom: 0;
        right: 30px;

        border-radius: 10px 10px 0 0;
        height: 50px;
        width: 300px;
        background-color: white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .img-and-messaging{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-weight: 500;
        }

        .icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            #create{
                font-size: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .more-horiz-container, .create-container, .toggle-chat-container{
                height: 30px;
                width: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: background-color 0.3s ease;
            }

            .more-horiz-container:hover, .create-container:hover, .toggle-chat-container:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        overflow: hidden;
    }

    .chat-content {
        position: fixed;
        bottom: 0;
        right: 30px;
        background-color: white;
        width: 300px;
        height: 1200px;
        overflow-y: auto;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3), 0px 0px 0px rgba(0, 0, 0, 0);

        .friends{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            padding: 10px;

            .friend{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;

                .img-and-desc{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    #image{
                        border-radius: 50%;
                    }
    
                    .name-and-last-message{
                        display: flex;
                        flex-direction: column;
    
                        #name{
                            font-size: 14px;
                        }
    
                        #last-message{
                            color: gray;
                        }
                    }
                }

                #last-message-sent{
                    color: gray;
                }

                .last-message-sent{
                    color: gray;
                }
            }
        }

        .friends:hover{
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }

    .messaging:hover{
        cursor: pointer;
        background-color: #f2f6fa;
    }

    .chat-tab{
        position: fixed;
        bottom: 0;
        right: 350px;
        background-color: white;
        height: 50px;
        width: 200px;
        overflow-y: auto;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .img-and-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img{
                border-radius: 50%;
            }
    
            span{
                font-weight: 500;
            }
        }

        .close-container{
            height: 30px;
            width: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color 0.3s ease;
        }
        
        .close-container:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    .chat-tab:hover{
        cursor: pointer;
        background-color: #f2f6fa;
    }

    .chat-window{
        position: fixed;
        bottom: 0;
        height: 700px;
        width: 500px;
        overflow-y: auto;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px 10px 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: space-between;

        .top{
            background-color: white;
            width: 100%;
            height: 50px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 5px;

            .img-and-name{
                height: 50px;

                img{
                    border-radius: 50%;
                }

                span{
                    font-weight: 500;
                }

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }

            .icons{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                #more-container, #video-call-container, #unfold-container, #close-chat-container{
                    height: 30px;
                    width: 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: background-color 0.3s ease;
                }

                #unfold-container{
                    transform: rotate(-45deg);
                }

                #more-container:hover, #video-call-container:hover, #unfold-container:hover, #close-chat-container:hover{
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }

        .top:hover{
            cursor: pointer;
            background-color: #f2f6fa;
        }

        main{
            overflow-y: auto;
            background-color: white;
            height: 475px;
            width: 100%;
            border-bottom: 5px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 20px;

            #name{
                font-weight: 500;
            }

            .chat-description{
                display: flex;
                flex-direction: column;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                padding: 10px 10px 0 10px;
                gap: 5px;
            }

            .messages-container{
                box-sizing: border-box;
                padding: 10px;

                .messages{
                    display: flex;
                    flex-direction: column;

                    .date-separator {
                        text-align: center;
                        // margin: 10px 0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        hr {
                            // border: none;
                            width: 40%;
                            border-top: 1px solid #ccc;
                            margin: 0;
                        }

                        .date-label {
                            display: inline;
                            background-color: white;
                            padding: 0 10px;
                            padding-right: 25px;
                            width: 20px;
                            color: #666;
                            font-size: 12px;
                            white-space: nowrap;
                        }
                    }

                    .message-header{
                        display: flex;
                        flex-direction: row;
                        box-sizing: border-box;
                        padding-top: 10px;
                        gap: 5px;

                        img{
                            height: 40px;
                            width: 40px;
                        }

                        #time-sent{
                            color: gray;
                        }
                    }

                    .message-content{
                        padding-left: 50px;
                        padding-bottom: 5px;
                    }
                }
            }
        }

        .chatbox{
            background-color: white;
            width: 100%;
            height: 125px;
            box-sizing: border-box;
            padding: 10px;

            textarea{
                resize: none;
                width: 90%;
                height: 100px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.05);
                box-sizing: border-box;
                padding: 10px;
                font-style: normal;
            }

            textarea:hover{
                cursor: text;
            }

            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .bottom{
            width: 100%;
            height: 50px;
            background-color: white;
        }
    }
}